@using Microsoft.AspNetCore.Components.Forms
<!-- Page Specific Using Satements. If there are general ones then add them to _Imports.razor. -->
<!-- Only Administrators are allowed to browse to this page. -->
@attribute [Authorize(Roles = "Administrator")]

<!-- Dependency Injection. -->
@inject IDataService _dataService

<!-- Header not required as the Modal form has a Title. -->
<!-- Display the error at the top of the form so that we know why something failed. -->
@if (!string.IsNullOrEmpty(ErrorMessage))
{
    <div class="alert alert-danger" role="alert">
        @ErrorMessage
    </div>
}
<!-- Create Document Form. -->
<EditForm model="@_company" OnValidSubmit="Submit">
    <DataAnnotationsValidator />
    <div class="form-group-sm" style="display: flex; align-items: center; margin-bottom: 10px;">
        <label class="col-md-4" for="name" style="margin-right: 30px; width: 100px;">Name:</label>
        <InputText class="col-md-8" id="name" @bind-Value="_company.Name" style="border-radius:.2rem;" />
    </div>
    <div class="form-group-sm" style="display: flex; align-items: center; margin-bottom: 10px;">
        <ValidationMessage For="@(() => _company.Name)" />
    </div>
    <div class="form-group" style="display: flex; align-items: center; margin-bottom: 10px;">
        <label for="ddlCompanyType" style="margin-right: 30px; width: 100px;">Type:</label>
        <InputSelect id="ddlCompanyType"
                asp-for="CompanyTypeId"
                class="form-control-sm"
                @bind-Value="_company.CompanyTypeId">
            <option value="" selected disabled>Select a Type.</option>
            @foreach (var companyType in _companyTypes)
            {
                <option value="@companyType.Id">@companyType.Name</option>
            }
        </InputSelect>
    </div>
    <div class="form-group-sm" style="display: flex; align-items: center; margin-bottom: 10px;">
        <ValidationMessage For="@(() => _company.CompanyTypeId)" />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
    <button @onclick="Cancel" class="btn btn-secondary">Cancel</button>
</EditForm>


@code {
    // Parameter used to insert the current page into as a Modal window.
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;

    // Private properties used only in this page.
    private Company _company = new();
    private List<CompanyType> _companyTypes = new();
    private List<Document> _documents = new();
    private CompanyDocument _companyDocument = new();
    private int _companyDoc;
    private string ErrorMessage = string.Empty;

    // Load all required data when launching the page.
    protected async override Task OnInitializedAsync()
    {
        _companyTypes = await _dataService.GetCompanyTypesAsync();
        _documents = await _dataService.GetDocumentsAsync();

    }

    #region CRUD Operations
    async Task Submit()
    {
        try
        {
            _company = await _dataService.CreateCompanyAsync(_company);
            await Close();
        }
        catch (Exception ex)
        {
            ErrorMessage = ex.Message;
        }
    }
    #endregion

    #region Modal Operations
    async Task Cancel() => await BlazoredModal.CancelAsync();
    async Task Close() => await BlazoredModal.CloseAsync();
    #endregion
}