<!-- Page Specific Using Satements. If there are general ones then add them to _Imports.razor. -->
@using Microsoft.AspNetCore.Components.Forms
<!-- Only Administrators are allowed to browse to this page. -->
@attribute [Authorize(Roles = "Administrator")]

<!-- Dependency Injection. -->
@inject IDataService _dataService

<!-- Display the error at the top of the form so that we know why something failed. -->
@if (!string.IsNullOrEmpty(ErrorMessage))
{
    <div class="alert alert-danger" role="alert">
        @ErrorMessage
    </div>
}

<!--Add a form for me that is based on the User Class with a submit button that executes CreateUser-->
<EditForm Model="@_user" OnValidSubmit="@CreateUser" class="card-body">
    <DataAnnotationsValidator />

    <div class="form-group">
        <label for="name">Full Name:</label>
        <InputText id="name" class="form-control" @bind-Value="_user.Name" />
        <ValidationMessage For="@(() => _user.Name)" />
    </div>

    <div class="form-group">
        <label for="email">Email:</label>
        <InputText id="email" class="form-control" @bind-Value="_user.Email" />
        <ValidationMessage For="@(() => _user.Email)" />
    </div>

    <div class="form-group">
        <label for="password">Password:</label>
        <InputText id="password" class="form-control" @bind-Value="_user.Password" />
        <ValidationMessage For="@(() => _user.Password)" />
    </div>

    <div class="form-group">
        <label for="ddlUserRole">Role:</label>
        <InputSelect id="ddlUserRole"
                     class="form-select"
                     @bind-Value="_user.UserRoleId">
            <option value="" disabled selected>Select a Role</option>
            @foreach (var role in _userRoles)
            {
                <option value="@role.Id">@role.Name</option>
            }
        </InputSelect>
        <ValidationMessage For="@(() => _user.UserRoleId)" />
    </div>

    <div class="form-group">
        <label for="ddlUserCompany">Company:</label>
        <InputSelect id="ddlUserCompany"
                     class="form-select"
                     @bind-Value="_user.CompanyId">
            <option value="" disabled selected>Select a Company</option>
            @foreach (var company in _companies!)
            {
                <option value="@company.Id">@company.Name</option>
            }
        </InputSelect>
        <ValidationMessage For="@(() => _user.CompanyId)" />
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button @onclick="Cancel" class="btn btn-secondary">Cancel</button>
    </div>
</EditForm>


@code {
    // Parameter used to insert the current page into as a Modal window.
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;

    // Private properties used only in this page.
    private User _user = new User();
    private List<Company>? _companies = new();
    private List<UserRole>? _userRoles = new();
    private string ErrorMessage = string.Empty;

    // Load all required data when launching the page.
    protected async override Task OnInitializedAsync()
    {
        _companies = await _dataService.GetCompaniesAsync();
        _userRoles = await _dataService.GetUserRolesAsync();
    }

    #region CRUD Operations
    async Task CreateUser()
    {
        try
        {
            await _dataService.CreateUserAsync(_user);
            await Close();
        }
        catch (Exception ex)
        {
            ErrorMessage = ex.Message;
        }
    }
    #endregion

    #region Modal Operations
    async Task Cancel() => await BlazoredModal.CancelAsync();
    async Task Close() => await BlazoredModal.CloseAsync();
    #endregion


}
